
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 2165px; padding-bottom: 120px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 85px; }
#wb_footer > .wb_cont_bg { background-color: #ededed; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent url("../gallery_gen/bg.jpg") no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 992px; min-height: 2350px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 2230px; min-height: 2350px; }
#wb_element_instance0 { top: 0px; left: 840px; min-width: 152px; width: 152px; min-height: 24px; height: 24px; display: block; z-index: 324; }
#wb_element_instance0 > ul { display: block; }
#wb_element_instance0 ul { background: transparent none repeat left top; border: 0px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: left; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat left top; }
#wb_element_instance0 li { margin: 10px 10px 10px 10px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 2px 2px 2px 2px; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #2c2c2c; line-height: 24px; background: transparent none repeat left top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat left top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat left top; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 40px; left: 430px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 119; }
#wb_element_instance1 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance2 { top: 12px; left: 352px; min-width: 520px; width: 520px; min-height: 24px; height: 24px; display: block; z-index: 187; }
#wb_element_instance3 { top: 10px; left: 10px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 10188; }
#wb_element_instance3 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance4 { top: 30px; left: 260px; min-width: 480px; width: 480px; min-height: 60px; height: 60px; display: block; z-index: 91; }
#wb_element_instance5 { top: 90px; left: 10px; min-width: 970px; width: 970px; min-height: 120px; height: 120px; display: block; z-index: 95; }
#wb_element_instance6 { top: 436px; left: 0px; min-width: 380px; width: 380px; min-height: 30px; height: 30px; display: block; z-index: 96; }
#wb_element_instance7 { top: 250px; left: 280px; min-width: 460px; width: 460px; min-height: 48px; height: 48px; display: block; z-index: 97; }
#wb_element_instance8 { top: 436px; left: 610px; min-width: 380px; width: 380px; min-height: 30px; height: 30px; display: block; z-index: 98; }
#wb_element_instance9 { top: 426px; left: 420px; min-width: 150px; width: 150px; min-height: 41px; height: 41px; display: block; z-index: 99; }
#wb_element_instance10 { top: 840px; left: 80px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; z-index: 100; }
#wb_element_instance10 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0.95; }
#wb_element_instance10 > .wb_shp { background-color: rgba(255, 255, 255, 0.95); border: 10px solid #31b0eb; border-radius: 230px 230px 230px 230px; -moz-border-radius: 230px 230px 230px 230px; -webkit-border-radius: 230px 230px 230px 230px; width: 200px; height: 200px; }
#wb_element_instance11 { top: 533px; left: 130px; min-width: 700px; width: 700px; min-height: 72px; height: 72px; display: block; z-index: 101; }
#wb_element_instance12 { top: 753px; left: 390px; min-width: 210px; width: 210px; min-height: 41px; height: 41px; display: block; z-index: 102; }
#wb_element_instance13 { top: 840px; left: 396px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; z-index: 103; }
#wb_element_instance13 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0.95; }
#wb_element_instance13 > .wb_shp { background-color: rgba(255, 255, 255, 0.95); border: 10px solid #31b0eb; border-radius: 230px 230px 230px 230px; -moz-border-radius: 230px 230px 230px 230px; -webkit-border-radius: 230px 230px 230px 230px; width: 200px; height: 200px; }
#wb_element_instance14 { top: 840px; left: 710px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; z-index: 104; }
#wb_element_instance14 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 0.95; }
#wb_element_instance14 > .wb_shp { background-color: rgba(255, 255, 255, 0.95); border: 10px solid #31b0eb; border-radius: 230px 230px 230px 230px; -moz-border-radius: 230px 230px 230px 230px; -webkit-border-radius: 230px 230px 230px 230px; width: 200px; height: 200px; }
#wb_element_instance15 { top: 760px; left: 0px; min-width: 380px; width: 380px; min-height: 30px; height: 30px; display: block; z-index: 105; }
#wb_element_instance16 { top: 760px; left: 610px; min-width: 380px; width: 380px; min-height: 30px; height: 30px; display: block; z-index: 106; }
#wb_element_instance17 { top: 1215px; left: 410px; min-width: 200px; width: 200px; min-height: 41px; height: 41px; display: block; z-index: 107; }
#wb_element_instance18 { top: 1315px; left: 80px; min-width: 240px; width: 240px; min-height: 264px; height: 264px; display: block; z-index: 108; }
#wb_element_instance19 { top: 906px; left: 159px; min-width: 64px; width: 64px; min-height: 60px; height: 60px; display: block; z-index: 109; }
#wb_element_instance20 { top: 906px; left: 477px; min-width: 90px; width: 90px; min-height: 60px; height: 60px; display: block; z-index: 110; }
#wb_element_instance21 { top: 903px; left: 790px; min-width: 64px; width: 64px; min-height: 60px; height: 60px; display: block; z-index: 111; }
#wb_element_instance22 { top: 1220px; left: 0px; min-width: 380px; width: 380px; min-height: 30px; height: 30px; display: block; z-index: 112; }
#wb_element_instance23 { top: 1220px; left: 630px; min-width: 360px; width: 360px; min-height: 30px; height: 30px; display: block; z-index: 113; }
#wb_element_instance24 form .form-area-field { height: 86px; }
#wb_element_instance24 { top: 1315px; left: 460px; min-width: 450px; width: 450px; min-height: 200px; height: 200px; display: block; z-index: 114; }
#wb_element_instance25 { top: 643px; left: 380px; min-width: 230px; width: 230px; min-height: 50px; height: 50px; display: block; z-index: 115; }
#wb_element_instance25 .wb_button { width: 230px; height: 50px; font-family: Open Sans,sans-serif; font-size: 18px; text-align: center; border: 1px none #cccccc; border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; background-color: #31afe5; }
#wb_element_instance25 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance25 .wb_button:before { background: transparent none repeat left top; }
#wb_element_instance25 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance25 .wb_button:hover { background-color: #1b96cf; }
#wb_element_instance25 .wb_button:hover:before { background: transparent none repeat left top; }
#wb_element_instance25 .wb_button:active > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance25 .wb_button:active { background-color: #e6e6e6; }
#wb_element_instance25 .wb_button:active:before { background: transparent none repeat left top; }
#wb_element_instance26 { top: 1460px; left: 80px; min-width: 830px; width: 830px; min-height: 450px; height: 450px; display: block; z-index: 116; }
#wb_element_instance27 { top: 1130px; left: 390px; min-width: 230px; width: 230px; min-height: 50px; height: 50px; display: block; z-index: 117; }
#wb_element_instance27 .wb_button { width: 230px; height: 50px; font-family: Open Sans,sans-serif; font-size: 18px; text-align: center; border: 1px none #cccccc; border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; background-color: #31afe5; }
#wb_element_instance27 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance27 .wb_button:before { background: transparent none repeat left top; }
#wb_element_instance27 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance27 .wb_button:hover { background-color: #1b96cf; }
#wb_element_instance27 .wb_button:hover:before { background: transparent none repeat left top; }
#wb_element_instance27 .wb_button:active > span { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; }
#wb_element_instance27 .wb_button:active { background-color: #e6e6e6; }
#wb_element_instance27 .wb_button:active:before { background: transparent none repeat left top; }
#wb_element_instance28 { top: 1050px; left: 390px; min-width: 220px; width: 220px; min-height: 48px; height: 48px; display: block; z-index: 118; }
#wb_element_instance29 { top: 1050px; left: 80px; min-width: 200px; width: 200px; min-height: 48px; height: 48px; display: block; z-index: 120; }
#wb_element_instance30 { top: 1050px; left: 710px; min-width: 200px; width: 200px; min-height: 48px; height: 48px; display: block; z-index: 122; }
#wb_element_instance31 { top: 112px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance1 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance2 { opacity: 1; }
#wb_element_instance3 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance4 { opacity: 1; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_element_instance5 { opacity: 1; }
#wb_element_instance6 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #919191;; }
#wb_element_instance7 p:last-child { margin-bottom: 0; }
#wb_element_instance7 { opacity: 1; }
#wb_element_instance8 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #919191;; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_element_instance9 { opacity: 1; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance11 { opacity: 1; }
#wb_element_instance12 p:last-child { margin-bottom: 0; }
#wb_element_instance12 { opacity: 1; }
#wb_element_instance15 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #919191;; }
#wb_element_instance16 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #919191;; }
#wb_element_instance17 p:last-child { margin-bottom: 0; }
#wb_element_instance17 { opacity: 1; }
#wb_element_instance18 p:last-child { margin-bottom: 0; }
#wb_element_instance18 { opacity: 1; }
#wb_element_instance19 p:last-child { margin-bottom: 0; }
#wb_element_instance19 { opacity: 1; }
#wb_element_instance20 p:last-child { margin-bottom: 0; }
#wb_element_instance20 { opacity: 1; }
#wb_element_instance21 p:last-child { margin-bottom: 0; }
#wb_element_instance21 { opacity: 1; }
#wb_element_instance22 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #919191;; }
#wb_element_instance23 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #919191;; }
#wb_element_instance24 form tr.area-row > th { height: 1%; }
#wb_element_instance24 form tr.area-row > td { height: 1%; }
#wb_element_instance24 form tr.form-footer > td { height: 20px; }
#wb_element_instance28 p:last-child { margin-bottom: 0; }
#wb_element_instance28 { opacity: 1; }
#wb_element_instance29 p:last-child { margin-bottom: 0; }
#wb_element_instance29 { opacity: 1; }
#wb_element_instance30 p:last-child { margin-bottom: 0; }
#wb_element_instance30 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
	#wb_header { height: 100px; }
	#wb_main { height: 2136px; }
	#wb_footer { height: 92px; }
	body, .wb_sbg { min-width: 1200px; min-height: 2328px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 2328px; min-height: 2328px; }
	#wb_element_instance0 { top: 0px; left: 840px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { top: 47px; left: 540px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; }
	#wb_element_instance1 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance2 { top: 12px; left: 352px; min-width: 520px; width: 520px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { top: 10px; left: 10px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; }
	#wb_element_instance3 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { top: 30px; left: 0px; min-width: 1200px; width: 1200px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance5 { top: 70px; left: 250px; min-width: 720px; width: 720px; min-height: 144px; height: 144px; display: block; }
	#wb_element_instance6 { top: 440px; left: 0px; min-width: 450px; width: 450px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance7 { top: 230px; left: 380px; min-width: 470px; width: 470px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance8 { top: 785px; left: 720px; min-width: 480px; width: 480px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance9 { top: 430px; left: 510px; min-width: 150px; width: 150px; min-height: 42px; height: 42px; display: block; }
	#wb_element_instance10 { top: 890px; left: 80px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance10 > .wb_shp { width: 200px; height: 200px; }
	#wb_element_instance11 { top: 530px; left: 140px; min-width: 880px; width: 880px; min-height: 78px; height: 78px; display: block; }
	#wb_element_instance12 { top: 773px; left: 480px; min-width: 200px; width: 200px; min-height: 42px; height: 42px; display: block; }
	#wb_element_instance13 { top: 890px; left: 490px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance13 > .wb_shp { width: 200px; height: 200px; }
	#wb_element_instance14 { top: 890px; left: 920px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance14 > .wb_shp { width: 200px; height: 200px; }
	#wb_element_instance15 { top: 440px; left: 740px; min-width: 450px; width: 450px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance16 { top: 783px; left: 0px; min-width: 450px; width: 450px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance17 { top: 1306px; left: 490px; min-width: 200px; width: 200px; min-height: 42px; height: 42px; display: block; }
	#wb_element_instance18 { top: 1396px; left: 80px; min-width: 310px; width: 310px; min-height: 216px; height: 216px; display: block; }
	#wb_element_instance19 { top: 953px; left: 150px; min-width: 64px; width: 64px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance20 { top: 950px; left: 567px; min-width: 70px; width: 70px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance21 { top: 950px; left: 996px; min-width: 64px; width: 64px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance22 { top: 1316px; left: 0px; min-width: 450px; width: 450px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance23 { top: 1316px; left: 730px; min-width: 470px; width: 470px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance24 form .form-area-field { height: 126px; }
	#wb_element_instance24 { top: 1396px; left: 540px; min-width: 580px; width: 580px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance25 { top: 650px; left: 470px; min-width: 230px; width: 230px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance25 .wb_button { width: 230px; height: 50px; }
	#wb_element_instance26 { top: 1500px; left: 80px; min-width: 1040px; width: 1040px; min-height: 450px; height: 450px; display: block; }
	#wb_element_instance27 { top: 1203px; left: 480px; min-width: 230px; width: 230px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance27 .wb_button { width: 230px; height: 50px; }
	#wb_element_instance28 { top: 1100px; left: 481px; min-width: 220px; width: 220px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance29 { top: 1100px; left: 80px; min-width: 200px; width: 200px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance30 { top: 1100px; left: 906px; min-width: 230px; width: 230px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 { top: 112px; left: 0px; display: block; }
}

@media (max-width: 767px) {
}
