
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_main { height: 980px; padding-bottom: 70px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 85px; }
#wb_footer > .wb_cont_bg { background-color: #ededed; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent url("../gallery_gen/bg.jpg") no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 992px; min-height: 1165px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 1095px; min-height: 1165px; }
#wb_element_instance32 { top: 0px; left: 840px; min-width: 152px; width: 152px; min-height: 24px; height: 24px; display: block; z-index: 324; }
#wb_element_instance32 > ul { display: block; }
#wb_element_instance32 ul { background: transparent none repeat left top; border: 0px none #000000; }
#wb_element_instance32, #wb_element_instance32 ul { text-align: left; }
#wb_element_instance32 ul ul { background: #2e2e2e none repeat left top; }
#wb_element_instance32 li { margin: 10px 10px 10px 10px; }
#wb_element_instance32 li a { text-transform: none; border: 0px none #000000; padding: 2px 2px 2px 2px; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #2c2c2c; line-height: 24px; background: transparent none repeat left top; }
#wb_element_instance32 li.over > a, #wb_element_instance32 li:focus > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat left top; }
#wb_element_instance32 li.active > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat left top; }
#wb_element_instance32:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance32:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance32:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance33 { top: 40px; left: 430px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 119; }
#wb_element_instance33 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance34 { top: 12px; left: 352px; min-width: 520px; width: 520px; min-height: 24px; height: 24px; display: block; z-index: 187; }
#wb_element_instance35 { top: 10px; left: 10px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 10188; }
#wb_element_instance35 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance36 { top: 30px; left: 230px; min-width: 540px; width: 540px; min-height: 60px; height: 60px; display: block; z-index: 73; }
#wb_element_instance37 { top: 90px; left: 10px; min-width: 970px; width: 970px; min-height: 60px; height: 60px; display: block; z-index: 83; }
#wb_element_instance38 { top: 190px; left: 210px; min-width: 610px; width: 610px; min-height: 596px; height: 596px; display: block; z-index: 84; }
#wb_element_instance39 { top: 810px; left: 160px; min-width: 680px; width: 680px; min-height: 30px; height: 30px; display: block; z-index: 87; }
#wb_element_instance40 { top: 160px; left: 170px; min-width: 680px; width: 680px; min-height: 1px; height: 1px; display: block; z-index: 88; }
#wb_element_instance41 { top: 0px; left: 0; right: 0; min-height: 2px; height: 2px; display: block; z-index: 85; }
#wb_element_instance42 { top: 112px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance33 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance34 p:last-child { margin-bottom: 0; }
#wb_element_instance34 { opacity: 1; }
#wb_element_instance35 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance36 p:last-child { margin-bottom: 0; }
#wb_element_instance36 { opacity: 1; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance37 { opacity: 1; }
#wb_element_instance38 p:last-child { margin-bottom: 0; }
#wb_element_instance38 { opacity: 1; }
#wb_element_instance39 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #303030;; }
#wb_element_instance40 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #303030;; }
#wb_element_instance41 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 2px solid #303030;; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
	#wb_header { height: 100px; }
	#wb_main { height: 908px; }
	#wb_footer { height: 92px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1100px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 1100px; min-height: 1100px; }
	#wb_element_instance32 { top: 0px; left: 840px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance32 > ul { display: block; }
	#wb_element_instance33 { top: 47px; left: 540px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; }
	#wb_element_instance33 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { top: 12px; left: 352px; min-width: 520px; width: 520px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance35 { top: 10px; left: 10px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; }
	#wb_element_instance35 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance36 { top: 30px; left: 0px; min-width: 1200px; width: 1200px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance37 { top: 70px; left: 250px; min-width: 720px; width: 720px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance38 { top: 210px; left: 330px; min-width: 610px; width: 610px; min-height: 576px; height: 576px; display: block; }
	#wb_element_instance39 { top: 151px; left: 282px; min-width: 680px; width: 680px; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance40 { top: 837px; left: 286px; min-width: 680px; width: 680px; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance41 { top: 0px; left: 0; right: 0; min-height: 2px; height: 2px; display: block; }
	#wb_element_instance42 { top: 112px; left: 0px; display: block; }
}

@media (max-width: 767px) {
}
