
#wb_header { height: 200px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_main { height: 1214px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 85px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent url("../gallery_gen/bg.jpg") no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 992px; min-height: 1499px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 1493px; min-height: 1499px; }
#wb_element_instance43 { top: 0px; left: 840px; min-width: 152px; width: 152px; min-height: 24px; height: 24px; display: block; z-index: 324; }
#wb_element_instance43 > ul { display: block; }
#wb_element_instance43 ul { background: transparent none repeat left top; border: 0px none #000000; }
#wb_element_instance43, #wb_element_instance43 ul { text-align: left; }
#wb_element_instance43 ul ul { background: #2e2e2e none repeat left top; }
#wb_element_instance43 li { margin: 10px 10px 10px 10px; }
#wb_element_instance43 li a { text-transform: none; border: 0px none #000000; padding: 2px 2px 2px 2px; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #2c2c2c; line-height: 24px; background: transparent none repeat left top; }
#wb_element_instance43 li.over > a, #wb_element_instance43 li:focus > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat left top; }
#wb_element_instance43 li.active > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat left top; }
#wb_element_instance43:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance43:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance43:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance44 { top: 40px; left: 430px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 119; }
#wb_element_instance44 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance45 { top: 12px; left: 352px; min-width: 520px; width: 520px; min-height: 24px; height: 24px; display: block; z-index: 187; }
#wb_element_instance46 { top: 10px; left: 10px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 10188; }
#wb_element_instance46 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance47 { top: 30px; left: 260px; min-width: 480px; width: 480px; min-height: 60px; height: 60px; display: block; z-index: 71; }
#wb_element_instance48 { top: 90px; left: 10px; min-width: 970px; width: 970px; min-height: 60px; height: 60px; display: block; z-index: 76; }
#wb_element_instance49 { top: 190px; left: 230px; min-width: 560px; width: 560px; min-height: 90px; height: 90px; display: block; z-index: 81; }
#wb_element_instance50 { top: 170px; left: 170px; min-width: 680px; width: 680px; min-height: 1px; height: 1px; display: block; z-index: 83; }
#wb_element_instance51 { top: 1190px; left: 170px; min-width: 680px; width: 680px; min-height: 80px; height: 80px; display: block; z-index: 85; }
#wb_element_instance52 { top: 300px; left: 170px; min-width: 680px; width: 680px; min-height: 900px; height: 900px; display: block; z-index: 77; background: #000000; touch-action: manipulation; }
#wb_element_instance53 { top: 0px; left: 0; right: 0; min-height: 1px; height: 1px; display: block; z-index: 82; }
#wb_element_instance54 { top: 112px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance44 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance45 p:last-child { margin-bottom: 0; }
#wb_element_instance45 { opacity: 1; }
#wb_element_instance46 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance47 p:last-child { margin-bottom: 0; }
#wb_element_instance47 { opacity: 1; }
#wb_element_instance48 p:last-child { margin-bottom: 0; }
#wb_element_instance48 { opacity: 1; }
#wb_element_instance49 p:last-child { margin-bottom: 0; }
#wb_element_instance49 { opacity: 1; }
#wb_element_instance50 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #303030;; }
#wb_element_instance51 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #303030;; }
#wb_element_instance53 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 2px solid #303030;; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
	#wb_header { height: 94px; }
	#wb_main { height: 1275px; }
	#wb_footer { height: 67px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1436px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 1454px; min-height: 1436px; }
	#wb_element_instance43 { top: 0px; left: 840px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance43 > ul { display: block; }
	#wb_element_instance44 { top: 47px; left: 540px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; }
	#wb_element_instance44 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance45 { top: 12px; left: 352px; min-width: 520px; width: 520px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance46 { top: 10px; left: 10px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; }
	#wb_element_instance46 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance47 { top: 30px; left: 0px; min-width: 1200px; width: 1200px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance48 { top: 60px; left: 260px; min-width: 720px; width: 720px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance49 { top: 190px; left: 320px; min-width: 610px; width: 610px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance50 { top: 151px; left: 282px; min-width: 680px; width: 680px; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance51 { top: 1198px; left: 283px; min-width: 680px; width: 680px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance52 { top: 298px; left: 283px; min-width: 680px; width: 680px; min-height: 900px; height: 900px; display: block; }
	#wb_element_instance53 { top: 0px; left: 0; right: 0; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance54 { top: 112px; left: 0px; display: block; }
}

@media (max-width: 767px) {
}
